$white: #fff !default;
$gray-100: #f6f6f6 !default;
$gray-200: #f0f0f0 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #a5a5a5 !default;
$gray-700: #555 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$arsinex-orange: #f3ba2f !default;
$blue: #158cba !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff4136 !default;
$orange: #fd7e14 !default;
$yellow: #ff851b !default;
$green: #28b62c !default;
$teal: #20c997 !default;
$cyan: #75caeb !default;

$primary: $arsinex-orange !default;
$secondary: $gray-200 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-600 !default;
$dark: $gray-700 !default;
$bold: 700;
$regular: 400;
$medium: 500;
$font-family-sans-serif: Roboto !default;
$border-radius: 0px;
$input-placeholder-color: #c4ac70 !default;

$form-text-color: #7f7f7f;
$font-family_primary: Roboto;
