.nav {
 
  height: 81px;
  background-color: $white-ax;
}

.navbarNav {
  padding-left: 77px;
  padding-right: 60px;
  display: flex;

  li {
    margin-right: 31px;
    display: flex;
    justify-content: center;
  }
}

.Navbar {
  padding-left: 471px;

  li {
    margin-right: 40px;
  }
}
.navbar-brand {
  padding-left: 60px;
}

@media screen and (max-width: 1029px) {
 .nav{
   display: none;
 } 
}