
.coin-name{
    width: 56px;
height: 22px;
color: $dark-arsinex;
font-family: $FONT-MEDIUM;
font-size: 14px;
font-style: normal;
letter-spacing: normal;
line-height: 22px;
text-align: left;
text-transform: uppercase;
}

.price{
    width: 141px;
height: 30px;
color: $dark-arsinex;
font-family: $FONT-BOLD;
font-size: 20px;
font-weight: 500;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
text-align: left;
text-transform: uppercase;
}

.percentage{
    width: 46px;
height: 22px;
color: $green-ax;
font-family: "IBM Plex Sans - Medium";
font-size: 14px;
font-weight: 500;
font-style: normal;
letter-spacing: normal;
line-height: 22px;
text-align: left;
}

.try{
    font-family: $FONT-LIGHT;
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}