@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

$FONT-BOLD :  'IBM Plex Sans-Bold-700', sans-serif;
$FONT-LIGHT: 'IBM Plex Sans', sans-serif;
$FONT-MEDIUM: 'IBM Plex Sans-Medium-500', sans-serif;
$font-medium: 'DM Sans-Medium-500', sans-serif;
$font-regular: 'DM Sans-Regular-400', sans-serif;

$primary-arsinex: #FFD803;
$dark-arsinex: #181818;
$light-arsinex: #E8E8E8;
$white-ax: #ffffff;
$container-color: #f3f3f3;
$light-dark-ax: #2e2e2e;
$green-ax: #00b845;

