@import "bootstrap";
@import "variable";
@import "button";
@import "navbar";
@import "margin";
@import "textStyles";

.carousel-indicators [data-bs-target]{

  background-color: #181818;

}

.home1 {
  height: 822px;
  background-color: $container-color;

  h1 {
    width: 100%;
    height: 198px;
    color: $dark-arsinex;
    font-family: $FONT-BOLD;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 68px;
    text-align: left;
    margin-bottom: 30px;
    margin-right: 86px;
  }

  h3 {
    height: 69px;
    color: $light-dark-ax;
    font-family: $FONT-LIGHT;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    margin-bottom: 43px;
  }

  h4 {
    height: 36px;
    color: $dark-arsinex;
    font-family: $FONT-BOLD;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    padding-top: 50px;
    margin-left: 350px;
    margin-right: 300px;
    padding-bottom: 40px;
  }

  .con1 {
    background-color: white;
    border-radius: 15px;
    height: 140px;
    width: 300px;
    padding-top: 15px;
  }

  .grafik {
    padding-left: 50px;
  }
  .arsin {
    padding-left: 86px;
  }
}

.home2 {
  margin-top: 160px;

  .yelll {
    position: absolute;
  top: 20%;
  left: 8%;

  .coll{
    margin-top: 20px;
    margin-left: 340px;
  }
  }
  h1 {
    font-size: 32px;
    text-align: left;
  }
  h2{
    text-align: left;
  }
}

/*home3*/

.home3 {
  margin-top: 194px;
  h1 {
    height: 114px;
    color: $dark-arsinex;
    font-family: $FONT-BOLD;
    font-size: 44px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 58px;
    text-align: center;
  }

  .carousel-item {
    width: 935px;
    height: 414px;
    border-radius: 16px;
    background-color: $container-color;
    margin-left: 160px;

    .contain {
      margin: 100px 80px;
    }

    h1 {
      height: 44px;
      color: #181818;
      font-family: $FONT-BOLD;
      font-size: 32px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 44px;
      text-align: left;
      margin-bottom: 20px;
    }
    h2 {
      height: 58px;
      color: #2e2e2e;
      font-family: $FONT-LIGHT;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      text-align: left;
      margin-bottom: 50px;
    }

    .crousel {
      padding-top: 100px;
      align-items: center;
    }
  }
}

/*HOME 4*/

.home4 {
  margin-top: 160px;

  th {
    width: 58px;
    height: 20px;
    color: #181818;
    font-family: $FONT-LIGHT;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
  }

  .table {
    border-collapse: unset;
  }
}

/*HOME 5*/

.home5 {
  margin-top: 160px;
  height: 752px;
  background-color: #f3f3f3;

  .row {
    padding-top: 160px;
  }

  h1 {
    height: 129px;
    color: #181818;
    font-family: $FONT-BOLD;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 44px;
    text-align: left;
    margin-bottom: 21px;
  }

  h2 {
    height: 58px;
    color: #2e2e2e;
    font-family: $FONT-LIGHT;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    margin-bottom: 43px;
  }

  h3 {
    margin-top: 20px;
  }

  h4 {
    margin-top: 10px;
  }

  .column {
    padding-left: 164px;
  }

  .coll {
    margin-top: 75px;
  }
}

/*HOME6*/

.home6 {
  margin-top: 160px;
  margin-bottom: 162px;

  .con {
    margin: 0px 380px;
    img {
      margin: 60px 30px;
    }
  }
  .com {
    margin: 0px 237px;
  }
  .conn {
    margin: 24px 76px;
  }

  h3,
  h4 {
    text-align: center;
  }
}

/*HOME7*/

.home7 {
  background-color: $primary-arsinex;
  height: 542px;

  h1 {
    padding-top: 160px;
    margin-bottom: 40px;
  }
  .row {
    margin: 158px 247px;
    h6 {
      height: 24px;
      color: #181818;
      font-family: $FONT-BOLD;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
      text-align: left;
      margin-top: 20px;
    }
  }
}

/*HOME8*/

.home8 {
  margin-top: 160px;

  .com {
    margin-top: 50px;
  }
  .crousel {
    width: 365px;
    height: 226px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    background-color: white;
  }

  .crousell {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 80px;
  }
}

/*footer*/

.footer {
  height: 904px;
  background-color: #f3f3f3;
  margin-top: 160px;
  .com {
    padding-top: 160px;
  }

  .formm {
    width: 20%;
    border-radius: 25px 0px 0px 25px;
  }
  .comm {
    margin: 42px 700px;
  }
  .commm {
    margin-top: 120px;
  }
  .iletişim {
    margin-top: 136px;
  }

  .roww {
    margin-top: 20px;
  }
  .commmm {
    margin: 61px 900px;
    .footer-text {
      font-size: 18px;
      margin: 10px 30px;
    }
  }
}

@media screen and (max-width: 950px) {
  .graph {
    display: none;
  }
  .icon {
    display: none;
  }

  .home1 {
    height: 582px;
    background-color: $container-color;

    h1 {
      height: 221px;
      color: #181818;
      font-family: $FONT-BOLD;
      font-size: 44px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 58px;
      text-align: left;
      margin-bottom: 40px;
    }
    h3 {
      height: 88px;
      color: #181818;
      font-family: $FONT-LIGHT;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      text-align: left;
    }
  }
}
